a {
  text-decoration: none;
  color: var(--darkGrayishBlue);
  height: 100%;
}
li {
  list-style: none;
  height: 100%;
}
a:hover {
  color: var(--veryDarkBlue);
  border-bottom: 2px solid var(--orange);
}
#logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#header {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  border-bottom: 1px solid var(--grayishBlue);
  margin: 0 10%;
  position: relative;
}
#menu {
  display: flex;
  gap: 0.5rem;
  height: 120px;
  align-items: center;
  justify-content: center;
  z-index: 80;
}
#menu a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
#btn-mobile {
  display: none;
}
.menu-img {
  display: flex;
  align-items: center;
  height: 120px;
  gap: 0 30px;
  cursor: pointer;
}
#cart {
  width: 20px;
  height: 20px;
  transition: all 0.1s;
}
#cart:hover {
  scale: 1.1;
}
#profile {
  max-width: 50px;
  transition: all 0.1s;
}
#profile:hover {
  border-radius: 50%;
  border: 2px solid var(--orange);
}
.itens{
  border-radius: 50%;
  color: var(--white);
  background: var(--orange);
  width: 15px;
  height: 15px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.cart-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  #menu {
    visibility: hidden;
    position: absolute;
    padding-top: 120px;
    display: block;
    width: 60%;
    height: 100%;
    top: 0;
    left: -13%;
    background: var(--white);
  }
  #nav.active #menu {
    visibility: visible;
    height: 100vh;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem;
    margin: 0;
    background: var(--white);
    font-weight: 700;
    border: none;
  }
  #btn-mobile {
    display: flex;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  body.active {
    background: var(--blackRgba);
  }
  li {
    height: auto;
    width: 70%;
  }
  #logo {
    margin-left: 10%;
  }
  #header {
    border: 0;
  }
  #profile {
    max-width: 30px;
  }
  #hamburger {
    position: absolute;
    left: 0%;
    top: 50px;
    color: var(--darkGrayishBlue);
    display: block;
    border-top: 3px solid;
    width: 20px;
    height: 20px;
    z-index: 90;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    background: currentColor;
    height: 3px;
    margin-top: 5px;
    transition: 0.3s;
  }
  #nav.active #hamburger {
    border-top: none;
  }
  #nav.active #hamburger::after {
    position: absolute;
    transform: rotate(-135deg);
  }
  #nav.active #hamburger::before {
    position: absolute;
    transform: rotate(135deg);
  }
}
